@import "../../assets/styles/variables.scss";

.label {
  display: inline-flex;
  width: 100%;
  &__input {
    flex: 1;
    border-radius: 3px 0px 0px 3px;
    border: none;
    height: 30px;
    line-height: 30px;
    padding: 0 2rem;
    font-size: 1.1em;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
    &::-webkit-input-placeholder {
      color: #c4c4c4;
      font-size: 0.9rem;
    }
  }
  &__img {
    cursor: pointer;
    background-color: $bg-grey;
    padding: 0.4rem 0.8rem;
    border-radius: 0px 3px 3px 0px;
    height: 18px;
  }
}
