@import "../../assets/styles/variables.scss";

.header {
  background-color: $brand-primary;
  padding: 1% 10%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    margin-right: 2rem;
    cursor: pointer;
  }
}
