@import "../../../../assets/styles/variables";

.item {
  display: flex;
  align-items: center;
  padding: 1rem 8rem 1rem 1rem;
  margin: 0 1rem;
  border-bottom: 1px solid $bg-grey;
  cursor: pointer;

  &__productImage {
    height: 180px;
    width: 180px;
    border-radius: 4px;
    margin-right: 1rem;
  }

  &__section {
    flex: 1;
    margin-top: 3rem;
  }

  &__price {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  &__shippingMark {
      margin-left: 0.5rem;
  }

  &__description {
      font-size: 1.12rem;
  }

  &__location {
    font-size: 0.75rem;
    margin-top: 4rem;
  }
}
