@import "./variables";

.button {
  border: none;
  border-radius: 4px;
  height: 32px;
  cursor: pointer;

  &-primary {
    background-color: $brand-secondary;
    color: $text-white;
    height: 35px;
    -webkit-transition: opacity 300ms linear;
    -ms-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
    &:hover {
        opacity: 0.8;
    }
  }
}
