
/* brand colors */
$brand-primary: #FFE600;
$brand-secondary:#3483FA; 

/* text-colors */
$text-black: #333;
$text-grey: #666;
$text-grey-darker: #c4c4c4;
$text-white: #fff;

/* background-colors */
$bg-white: #fff;
$bg-grey: #EEE;
$bg-grey-lighter: #999;
