@import "../../assets/styles/variables";

.mainContainer {
  display: flex;
  justify-content: space-between;

  &__productImg {
    height: 680px;
    width: 680px;
  }

  &__info {
    display: inline-flex;
    flex-direction: column;
    width: 25%;
  }

  &__condition {
    margin-bottom: 1rem;
    font-size: 0.87rem;
  }

  &__name {
      font-size: 1.5rem;
      word-break: break-word;
      line-height: 2rem;
  }

  &__price {
    margin: 2rem 0;
    font-size: 2.87rem;
  }
}

.descriptionContainer {
    margin-top: 10%;
    padding-right: 25%;
    &__title {
        font-size: 1.75rem;
        margin: 0 0 2rem 0;
    }

    &__text {
        font-size: 1rem;
        color: $text-grey-darker;
        margin: 0;
    }
}
